.footer {
  display: block;
  position: fixed;
  background-image: url("C:/Users/Thisuraka/source/repos/InventoryClient/src/images/headerBg.jpg");
  /* padding-top: -100px; 
  padding-bottom: 0px;*/
  width: 100%;
  height: 5.4%;
  bottom: 0%;
  opacity: 0.8;
}
