.bg{
  position: absolute;
  background-image: url("C:/Users/Thisuraka/source/repos/InventoryClient/src/images/bg.jpg") ;
  width:100%;
  height:120%;
}

.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  margin-top: 10%;
  margin-left: 40%;
  max-width: 300px;
  /* margin: auto; */
}

.edit-form {
  margin-top: 10%;
  margin-left: 40%;
  max-width: 300px;
  /* margin: auto; */
}

.col-md-8 {
  margin-top: 20%;
  margin-left: 70%;
}

.col-md-6 {
  width: 100%;
  display: block;
  left: 70%;
}
/* 152238 */

.formBg {
  background-color:#656868;
  width: 800px;
  height:600px;
  padding-left:40px;
  padding-right:40px;
  padding-top: 70px;
  margin-left:400px;
  margin-top:140px;
  /* margin-bottom:120px; */
  border-radius:10px;
  color: aliceblue;
}

.formBg2 {
  background-color:#656868;
  width: 800px;
  height:600px;
  padding-left:40px;
  padding-right:40px;
  padding-top: 30px;
  margin-left:400px;
  margin-top:140px;
  /* margin-bottom:120px; */
  border-radius:10px;
  color: aliceblue;
}

.btnbtn2{
  background-color:#109739;
  padding-left: 29px;
  padding-top: 6px;
  margin-left:100px;
  margin-top:40px;
  border: 0px;
  height: 38px;
  width: 130px;
  border-radius: 10px;
}

.btnSuc{
  color: aliceblue;
  background-color:#109739;
  margin-left:100px;
  margin-top:40px;
  border: 0px;
  height: 38px;
  width: 130px;
  border-radius: 10px;
}

.white{
  color: aliceblue;
}

.btnsArrange{
  display: block;
  position: absolute;
  width: 220px;
  height: 140px;
  margin-left:300px;
  margin-top:240px;
}

.listBtn1{
  background-color:#b6122d;
  height: 38px;
  width: 200px;
  border-radius: 10px;
  color: aliceblue;
  border: 0ch;
  margin-bottom: 20px;
}

